---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<h2>Programming Projects</h2>
{% for post in site.portfolio %}
  {% if post.category == "programming" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Computational Neuroscience</h2>
{% for post in site.portfolio %}
  {% if post.category == "computational-neuroscience" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Bioinformatics</h2>
{% for post in site.portfolio %}
  {% if post.category == "bioinformatics" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
